streamlit==1.38.0
transformers>=4.43.0
accelerate>=0.31.0
torch>=2.5.1
bitsandbytes
sentence-transformers>=3.0.1
langchain>=0.2.12
langchain-community>=0.2.12
langchain-huggingface>=0.1.0
faiss-cpu>=1.8.0
pandas>=2.2.2
gdown>=5.2.2
langfuse>=2.38.0
python-dotenv
matplotlib>=3.8.0
google-api-python-client>=2.111.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
openpyxl>=3.1.2
requests
lxml
pypdf
unstructured[pdf]
